<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default bg-primary" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-size: 24px; color: pink">Shopping notes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/neworder">New Order</a></li>
            <li><a href="/purchaselist">Purchase List</a></li>
            <li><a href="/shoplist">Ship List</a></li>
            <li><a href="/history">History</a></li>
          </ul>
          <div class="col-sm-3 col-md-3">
            <form class="navbar-form" role="search" action="/search" method="post">
              {% csrf_token %}
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="words" required>
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </nav>

    <div class="container">
      <p>To anyone who is taking a look at this site:</p>
      <p>I appreciate your interest on me. A little background about this project:</p>
      <p>My wife is a freelancer shopping consultant who introduce and help purchasing merchandise sold in U.S. to her clients
        in China and charges small amout as labor. Anyway, she needs something to help her tracking her orders
        as her clients grow more. Therefore I wrote this personized project for her. It is mainly used on mobile.</p>
      <p>This is a Django project hosting on AWS EC2 Ubuntu Server using Gunicorn and nginx.</p>
      <p>No frontend framework, it's a simple site, most bootstrap and a little customized checkbox to make cute ones. You know, it's for girl! </p>
      <p>No complicated db models. Using sqlite3 comes with Django</p>
      <p>No any authenticity on anything. The purpose is to make it simple and clean to use. Also, this is only a copy.</p>
      <p>Last, thank you for checking this out and read this page. The frontend part takes much more time than backend. :(</p>
      <p>Thanks again</p>
      <p>--Jun</p>
    </div>
  </body>
</html>
