<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/search" method="post">
      {% csrf_token %}
      <input type="text" name='words' required>
      <input type="submit" value="search">
    </form>

    {% for order in orders %}
    <p>
      {{order.name}}
      {{order.item}}
      isPaid: {{order.isPaid}}
      isPurchased: {{order.isPurchased}}
      isArrived: {{order.isArrived}}
      isShipped: {{order.isShipped}}
      <a href="{{order.id}}/manage">update</a>
    </p>
    {% endfor %}

  </body>
</html>
